// Root values
$extra-dark-grey: #363636;
$dark-grey: #848484;
$grey: #d0d0d0;
$light-grey: #d9d9d9;
$extra-light-grey: #f5f5f5;
$off-white: #fbfbfb;
$transition-primary: all 300ms ease-in-out;
$positive-color: #2dcc70;
$negative-color: #e84c3d;
$shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
$square: 38px;
$duration: 24s;
